---
import BaseLayout from "../layouts/BaseLayout.astro";
import Trip from "../components/Trip.astro";
import "../styles/global.css";
const allTrips = await Astro.glob("../pages/trips/*.md");
// console.log(allPosts);
const pageTitle = "AMIGA Trips";
---

<BaseLayout pageTitle={pageTitle}>
  <h2>Collection of all AMIGA Team Trips</h2>
  <ul>
    {
      allTrips.map((trip) => (
        <Trip
          url={trip.url}
          position={trip.frontmatter.position}
          date={trip.frontmatter.date}
          type={trip.frontmatter.type}
        />
      ))
    }
  </ul>
</BaseLayout>
